<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" src="css/api.css">
  </head>
  <body>
    <div>
      <input type="search" placeholder="example" style="float: left">
      <a href="/register" style="float: right"><button type="submit">New post</button></a>
    </div>
    <br /><br />
    {{{ body }}}
    <script type="text/javascript" src="javascript/api.js"></script>
  </body>
</html>
