<form action="register" method="post">
  <label for="name">Nome: </label>
  <input type="text" name="name" required />
  <br />
  <label for="age">Idade: </label>
  <input type="tel" name="age" />
  <br />
  <label for="description">Descricao: </label>
  <textarea name="description" placeholder="Your description/bio"></textarea>
  <br />
  <button type="submit">Enviar</button>
</form>
