<form action="register" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" required />
  <br />
  <label for="age">Age: </label>
  <input type="tel" name="age" />
  <br />
  <label for="description">Description: </label>
  <textarea name="description" placeholder="Your description/bio"></textarea>
  <br />
  <button type="submit">Send</button>
</form>
